[package]
name = "crumbeez"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
zellij-tile = "0.41.0"

[profile.release]
opt-level = "z"
codegen-units = 1
lto = true

[profile.dev]
opt-level = 1

